{% extends "shield/base.html" %}

{% block content %}
<div class="box">
						<h2>
							Welcome  to  Shield
						</h2>
						<img src="/static/images/pic01.jpg" width="150" height="150" alt="" class="left" />
						<p>
							This is <strong>Unofficial Channels</strong>, a free, fully standards-compliant CSS template 
							by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The images used in this 
							template are from <a href="http://fotogrph.com/">Fotogrph</a>. This free template is released 
							under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> 
							license, so you are pretty much free to do whatever you want with it (even use it commercially) 
							provided you keep the footer credits intact. Aside from that, have fun with it :)
						</p>
					</div>
					<div class="box">
						<h3>
							Tempus eget feugiat nisl
						</h3>
						<p>
							Tristique feugiat natoque gravida quisque odio. Ipsum mus vitae suspendisse sit mattis curabitur elit. 
							Eleifend penatibus a curabitur nulla. Ultricies praesent rutrum justo. Congue vulputate lacinia ornare 
							tortor purus dolor eleifend. Semper dui tincidunt id dictum quam. Phasellus tristique libero tristique.
							Eleifend penatibus a curabitur nulla. Ultricies praesent rutrum justo. Congue vulputate lacinia ornare 
							tortor purus dolor eleifend. Semper dui tincidunt id dictum quam. Phasellus tristique libero tristique.
							Eleifend penatibus a curabitur nulla. Ultricies praesent rutrum justo. Congue vulputate lacinia ornare 
							tortor purus dolor eleifend. Semper dui tincidunt id dictum quam. Phasellus tristique libero tristique.
						</p>
						<ul class="linkedList">
							<li class="first">
								<a href="#">Turpis et posuere urna dolor justo</a>
							</li>
							<li>
								<a href="#">Fringilla sem nisl purus lobortis magnis magna pellentesque</a>
							</li>
							<li>
								<a href="#">Venenatis magna ultricies sollicitudin sodales commodo nibh aenean</a>
							</li>
							<li>
								<a href="#">Magnis luctus penatibus non natoque nascetur tempus erat</a>
							</li>
							<li class="last">
								<a href="#">Penatibus dolor pharetra viverra ac erat proin</a>
							</li>
						</ul>
					</div><br class="clear" />
				</div><br class="clear" />
			</div>
{% endblock %}