{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
    <h2 class="alert">{{ superhero.name }}</h2>

    <h3 class="wall">{{ superhero.description }}</h3>

    <h2>Poderes y habilidades</h2>

    <ul>
    {% for p in superhero.powers.all %}
    <li><b>{{ p.name }}</b>: Puede {{ p.description }}
    {% endfor %}
    </ul>
    </div>

    <div class="col-md-6">
    <img src="{{ superhero.photo.url }}" class="img-thumbnail">
    </div>

</div>

{{ superhero.photo.url }}
{% endblock %}

